.nest-container {
    list-style: none;
    margin: 0;
    padding: 0;
}
.nest-container .nest-container {
    padding-left: 45px;
}
.nest-item {
    display: block;
}
.nest-fieldset {
    padding: 5px 0;
}
.nest-fieldset,
.nest-placeholder,
.nest-hint {
    max-width: 300px;
}
.nest-fieldset-wrap,
.nest-placeholder,
.nest-hint {
    border-radius: 2px;
}
.nest-placeholder,
.nest-hint {
    background-color: #f0f0f0;
    border: 2px dashed #c0c0c0;
}
.nest-placeholder {
    opacity: 0.5;
}
.nest-fieldset-wrap {
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    padding: 10px 20px;
}
.nest-fieldset-label {

}
.nest-toggle {

}
.nest-dropdown {
    display: none;
}
.nest-input {

}